.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.Logo {
    color: white;
    font-size: 28px;
}

span {
    color: gray;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.nav ul li a {
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s;
}

.nav ul li a:hover {
    color: gray;
}