<div id="inicio" class="nav">
    <h2 class="Logo">Fabio<span> Dev</span> </h2>
    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#pro">Proyectos</a></li>
        <li><a href="#certi">Certificados</a></li>
        <li><a href="#tec">Tecnologias</a></li>
        <li><a href="#redes">Redes</a></li>
        <button type="button" class="btn btn-primary" style="background-color: black; border: white 1px solid; margin-top: -5px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Config
        </button>
    </ul>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Configuracion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-logo-ap data-bs-dismiss="modal"></app-logo-ap>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<a style="position: fixed; border: 1px solid white; border-radius: 50%; top: 900px; right: 50px;" href="#inicio"><img width="40px" src="https://icongr.am/entypo/arrow-bold-up.svg?size=128&color=ffffff" alt=""></a>