<div class="nav">
    <h2 class="Logo">Fabio<span> Dev</span> </h2>
    <ul>
        <li><a href="">About</a></li>
        <li><a href="">Proyectos</a></li>
        <li><a href="">Certificados</a></li>
        <li><a href="">Tecnologias</a></li>
        <li><a href="">Redes</a></li>
        <button type="button" class="btn btn-primary" style="background-color: black; border: white 1px solid; margin-top: -5px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Config
        </button>
    </ul>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">INGRESAR</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-logo-ap data-bs-dismiss="modal"></app-logo-ap>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>