.Proyectos {
    display: flex;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}

.card {
    font-size: 15px;
    width: 450px;
    min-width: 100%;
    height: 400px;
    min-height: 200px;
    max-height: 100%;
    padding: 1px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.8);
}

.card h5 {
    font-size: 25px;
    border-bottom: 1px solid black;
}

.Proyectos-afuera {
    display: flex;
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 150px;
}

.Proyectos-afuera h1 {
    font-size: 40px;
    color: white;
    border-bottom: 1px solid white;
}

@media (max-width: 455px) {
    .card {
        width: 100%;
    }
}
