<div class="divisor"></div>
<div class="Redes">
    <h1 style="margin-top: 50px;">Redes Sociales</h1>
    <div class="Conteiner-redes">
        <a href="https://www.linkedin.com/in/fabio-ramos-78939a236/"><img class="Red-item" src="../../../assets/linkedin.png" id="linkedin"></a>
        <a href="https://www.instagram.com/fabioramosnic/"><img class="Red-item" src="../../../assets/instagram.png" id="instagram"></a>
        <a href="https://github.com/NicLen17"><img class="Red-item" src="../../../assets/github.png" id="github"></a>
        <a href="https://www.facebook.com/fabio.ramos.1044186/"><img class="Red-item" src="../../../assets/facebook.png" id="facebook"></a>
    </div>
</div>
