<div id="redes" class="divisor"></div>
<div class="Redes">
    <h1 data-aos-delay="50" data-aos-once="true" data-aos-duration="1500" data-aos="fade-up" style="margin-top: 50px; border-bottom: 1px solid white;">Redes Sociales</h1>
    <div class="Conteiner-redes">
        <a data-aos-delay="50" data-aos-once="true" data-aos-duration="1000" data-aos="fade-up" href="https://www.linkedin.com/in/fabio-ramos-78939a236/"><img class="Red-item" src="../../../assets/linkedin.png" id="linkedin"></a>
        <a data-aos-delay="100" data-aos-once="true" data-aos-duration="1000" data-aos="fade-up" href="https://www.instagram.com/fabioramosnic/"><img class="Red-item" src="../../../assets/instagram.png" id="instagram"></a>
        <a data-aos-delay="150" data-aos-once="true" data-aos-duration="1000" data-aos="fade-up" href="https://github.com/NicLen17"><img class="Red-item" src="../../../assets/github.png" id="github"></a>
        <a data-aos-delay="200" data-aos-once="true" data-aos-duration="1000" data-aos="fade-up" href="https://www.facebook.com/fabio.ramos.1044186/"><img class="Red-item" src="../../../assets/facebook.png" id="facebook"></a>
    </div>
</div>
