.Redes {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Conteiner-redes {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.Conteiner-redes a {
    padding: 100px;
}

.Red-item {
    color: black;
    width: 150px !important;
    border-radius: 75px;
    transition: 0.3s;
}

.Red-item:hover {
    -webkit-box-shadow: 2px 50px 50px -23px rgba(255,255,255,0.50); 
    box-shadow: 2px 50px 50px -23px rgba(255,255,255,0.50);
    transform: scale(1.1);
}

.divisor {
    margin-top: 150px;
    margin-right: 150px;
    margin-left: 150px;
    border-top: white solid 2px;
}