.Conteiner-skill{
    padding: 30px;
    color: white;
    display: flex;
    width: 80% !important;
    margin: auto;
    flex-wrap: wrap;
}

.circulo{
    margin-top: -80px !important;
    margin-bottom: -50px !important;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Tecnologias {
    padding: 50px;
    margin-top: 120px !important;
}

.Contenedor-tituloSK {
    display: flex;
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 150px;
}

.Contenedor-tituloSK h1 {
    font-size: 40px;
    color: white;
    border-bottom: 1px solid white;
}
