<div class="Conteiner-skill">


    <div class="Contenedor-tituloSK">
        <h1 style="margin-top: 20%;">Tecnologias aprendidas</h1>
        <button style="border-color: white;" type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
    </div>


    <div class="circulo" *ngFor="let skill of skill">
        <circle-progress 
        [percent]="(skill.porcentaje)" 
        [radius]="100" [imageSrc]="''" 
        [title]="(skill.nombre)"
        [titleColor]="'#ffffff'"
        [showTitle]="true" 
        [showImage]="false" 
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false"
        [showSubtitle]="false" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="2" 
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'#ffffff'" 
        [animation]="true" 
        [animationDuration]="400">
        </circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button style="border-radius: 50%; margin-right: 5px; margin-left: 52px;" class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button style="border-radius: 50%; margin-left: 5px;" class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
        
    </div>
</div>