.Conteiner-skill{
    background-color: #000000;
    padding: 30px;
    color: white;
    display: flex;
}

.circulo{
    margin: auto;
}

.Contenedor-tituloSK {
    align-content: center !important;
    justify-content: center !important;
}
