<div style="display: flex; justify-content: center; align-items: center;">
    <button style="margin-top: 250px; background-color: black; border: 1px solid white; width: 300px; height: 100px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">
        NUEVA TECNOLOGIA
    </button>
</div>

<div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel7" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Tecnologia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div>
                            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                                <div class="form-group">
                                    <label for="nombre">Nueva Tecnologia</label>
                                    <input style="border: 1px solid black;" type="text" class="form-control" id="nombre" name="nombre"
                                        [(ngModel)]="nombre" required>
                                </div>
                                <div class="form-group">
                                    <label for="porcentaje">Porcentaje</label>
                                    <input style="border: 1px solid black;" type="text" class="form-control" id="porcentaje" name="porcentaje"
                                        [(ngModel)]="porcentaje" required>
                                </div>
                                <button style="background-color: black; border: 1px solid white;" data-bs-dismiss="modal" class="btn btn-primary">
                                    Agregar Tecnologia
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button style="background-color: black; border: 1px solid white;" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>