.About {
    margin-top: 100px;
    color: white;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Cont-about {
    display: flex;
    margin-right: 250px;
    margin-left: 250px;
    flex-wrap: wrap !important;
    justify-content: center;
}

.Perfil-about {
    width: 500px;
    padding: 50px;
}

.Perfil-about h2 {
    font-size: 40px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}

.Info-about {
    margin-top: 80px;
    text-align: center;
    width: 500px;
}

.Info-about h2 {
    font-size: 40px;
    text-align: start;
    border-bottom: 1px solid white;
}

.Info-about p {
    font-size: 23px;

}

.Perfil-img {
    margin-top: 15px !important;
    margin: auto;
    width: 300px !important;
    border-radius: 50%;
    border: 3px solid white;
    -webkit-box-shadow: 0px 2px 13px 4px rgba(255, 255, 255, 0.57);
    box-shadow: 0px 2px 13px 4px rgba(255, 255, 255, 0.57);
}
