<div id="about" class="About">
    <div class="Cont-about">
        <div class="Perfil-about">
            <img data-aos-once="true" data-aos-duration="2500" data-aos="fade-up" class="Perfil-img" data-aos-delay="500" src="{{persona.img}}"
                id="fotodeperfil">
            <h2 data-aos-once="true" data-aos-duration="2000" data-aos-delay="100" data-aos="fade-up">{{persona.nombre}}
                {{persona.apellido}}</h2>
                <h3 data-aos-once="true" data-aos-duration="2000" data-aos-delay="500" data-aos="fade-up" style="text-align: center; color: gray;">Full Stack Web Developer</h3>
                       <button style="display: flex; margin: auto;"  class="btn btn-light" routerLink="/editacercade/1" *ngIf="isLogged">
                    <i class="bi bi-pencil-fill"></i> Editar Perfil</button>
        </div>
        <div data-aos-once="true" data-aos-duration="2000" data-aos="fade-down" class="Info-about">
            <h2>About...</h2>
            <p data-aos-once="true" data-aos-duration="2500" data-aos="fade-up" data-aos-delay="500">{{persona.descripcion}} </p>
        </div>
    </div>
</div>