.About {
    display: flex;
    margin-top: 100px;
    color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Perfil-about {
    margin: auto;
    margin: auto;
    width: 40%;
}

.Perfil-about h2 {
    font-size: 40px;
    margin-top: 15px;
    text-align: center;
    border-bottom: 1px solid white;
    border-radius: 5px;
    margin-left: 250px;
    margin-right: 250px;
}

.Info-about {
    margin-top: 80px;
    width: 60%;
    text-align: center;
}

.Info-about h2{
    font-size: 40px;
    text-align: start;
    border-bottom: 1px solid white;
    margin-right: 300px;
}

.Info-about p{
    font-size: 24px;
    width: 70%;
}

.Perfil-img {
    margin-top: 15px !important;
    margin: auto;
    width: 450px !important;
    border-radius: 50%;
    border: 3px solid white;
}