<div class="About">

    <div class="Perfil-about">
        <img class="Perfil-img" src="{{persona.img}}" id="fotodeperfil">
        <h2>{{persona.nombre}} {{persona.apellido}}</h2>
    </div>
    <div class="Info-about">
        <h2>About</h2>
        <p>{{persona.descripcion}} </p>
    </div>

</div>

<!-- <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>About</h1>
        <p> {{persona.descripcion}} </p>
    </span>
</div> -->